<div class="menu-bar">
  <div class="menu-file menu-item">File</div>
  <div class="menu-home menu-item selected">Home</div>
  <div class="menu-insert menu-item">Insert</div>
  <div class="menu-layout menu-item">Layout</div>
  <div class="menu-help menu-item">Help</div>
</div>
<div class="menu-icon-bar">
  <span class="material-icons menu-icon icon-bold">format_bold</span>
  <span class="material-icons menu-icon icon-italic">format_italic</span>
  <span class="material-icons menu-icon icon-underline">format_underline</span>
  <select class="selector font-family-selector">
    <option style="font-family: Arial" value="Arial">Arial</option>
    <option style="font-family: 'Times New Roman'" value="Times New Roman">
      Times New Roman
    </option>
    <option style="font-family: Verdana" value="Verdana">Verdana</option>
    <option style="font-family: Impact" value="Impact">Impact</option>
    <option style="font-family: 'Comic Sans Serif'" value="Comic Sans Serif">
      Comic Sans Serif
    </option>
    <option style="font-family: 'Trebuchet MS'" value="Trebuchet MS">
      Trebuchet MS
    </option>
  </select>
  <select class="selector font-size-selector">
    <option value="10">10</option>
    <option value="12">12</option>
    <option value="14">14</option>
    <option value="16">16</option>
  </select>
  <span class="material-icons menu-icon icon-align-left"
    >format_align_left</span
  >
  <span class="material-icons menu-icon icon-align-right"
    >format_align_right</span
  >
  <span class="material-icons menu-icon icon-align-center"
    >format_align_center</span
  >
  <span class="material-icons menu-icon icon-color-fill"
    >format_color_fill</span
  >
  <span class="material-icons menu-icon icon-color-text"
    >format_color_text</span
  >
  <span class="material-icons menu-icon icon-cut">content_cut</span>
  <span class="material-icons menu-icon icon-copy">content_copy</span>
  <span class="material-icons menu-icon icon-paste">content_paste</span>
</div>
