.container {
  height: 100vh;
}

.title-bar {
  height: 5vh;
  background-color: #a63d41;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.ribbon-section{
    flex: 0 0 15vh;
}

.middle-section{
    flex: 1;
    display: flex;
}

.navigation-panel-section{
    width: 15%;
    border: 2px solid black;
} 

.work-area-section{
    flex: 1;
    padding: 0 10px;
}

.property-sheet-section{
    width: 15%;
    border: 2px solid black;
    padding: 0 5px 0 10px;
}

.status-bar-section{
    position: absolute;
    background-color:#a63d41;
    display: flex;
    align-items: center;
    width: 100%;
    bottom: 0;
    height: 5vh;
}

/* :host {
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
} */

/* tr:nth-child(even) {
    background: #F2F2F2;
} */

/* tr:nth-child(odd) {
    background: #FFF;
} */

/* th, td {
    padding-left: 1rem;
    padding-right: 1rem;
} */

/* table {
    margin: 0 auto;
} */
